:root {
  --font-family: "Roboto", sans-serif;
  --primary-color: #1f2937;
  --secondary-color: #e5e7eb;
  --accent-color: #3882f6;
  --text-color: #f9faf8;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("woff2");
}

body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.logo {
  font-size: 36px;
  padding: 0.1em;
  margin-top: -0.1em;
  color: var(--text-color);
}

ul {
  display: flex;
  gap: 3em;
  margin-right: 1em;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: var(--secondary-color);
}

.img-elm {
  max-width: 30em;
  width: 55%;
  height: 15em;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 2.7em;
}

.image-in-future {
  width: 10em;
  height: 10em;
  padding: 1em;
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  background-size: cover;
}

.img-description {
  width: 8em;
  font-size: 18px;
  font-weight: 300;
  color: var(--primary-color);
  text-align: start;
  margin-top: -0.5em;
}
.player-name {
  font-size: 20px;
  font-weight: 900;
  text-align: start;
  color: var(--primary-color);
}
.img-list {
  display: flex;
  padding: 2em;
  gap: 3em;
  justify-content: center;
  margin: 0 auto;
}
#messi {
  background-image: url("./images/messi.jpg");
}
#di-maria {
  background-image: url("./images/dimaria.jpg");
}
#julian {
  background-image: url("./images/julian.jpg");
}
#enzo {
  background-image: url("./images/enzo.jpg");
}
article {
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
  padding: 4em;
  color: var(--primary-color);
}

.wrapper-header {
  font-size: 34px;
  font-weight: 900;
  color: var(--primary-color);
  margin-top: 0.5em;
}

.gray-container,
.quote-wrapper,
.call-wrapper {
  padding: 10em;
}
.gray-container {
  background-color: var(--primary-color);
  display: flex;
  gap: 6em;
}

.quote-wrapper {
  background-color: var(--secondary-color);
}

.main-text {
  font-weight: 800;
  font-size: 48px;
  color: #f9faf8;
  margin-bottom: 0.6em;
}

.secondary-text {
  font-size: 18px;
  color: var(--secondary-color);
  margin-top: -1.3em;
}

.welcome-words {
  width: 45%;
  margin: auto 0;
}

.btn {
  text-align: center;
  padding: 0.7em 1em;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.first-btn,
.second-btn {
  align-self: flex-start;
}

.first-btn {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.second-btn {
  border: 2px solid var(--secondary-color);
  color: var(--text-color);
  background: transparent;
  margin: auto 0.5em;
}

.quote {
  padding: 0.5em;
  width: 70%;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: var(--primary-color);
  margin: 0 auto;
}

.Author {
  text-align: right;
  font-weight: 900;
  font-size: 23px;
}

.quote-text {
  text-align: center;
}

.call-wrapper {
  padding: 6em;
}

.call-text {
  margin-bottom: -0.7em;
  font-weight: 700;
  font-size: 23px;
}

.call-to-action {
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 1em;
  color: var(--secondary-color);
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
  background-color: var(--accent-color);
}

footer {
  text-align: center;
  font-size: 16px;
  background-color: var(--primary-color);
  padding: 0.1em;
  color: var(--secondary-color);
}
